/*  social links */
.social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
   width: 35px;
   height: 35px;
}
.social li a { color: #fff; }
.social li a:hover { color: #11ABB0; }