<section class="flockingai-posted-to">
  <strong><i class="fas fa-fw fa-heart" aria-hidden="true"></i> As Seen On: </strong>
  {% if page.midjourney %}
  <a class="btn btn-large" href="{{ page.midjourney }}" target="_blank" title="As Seen On midjourney"><span><i class="fab fa-fw" aria-hidden="true"></i> Mid Journey</span></a>
  {% endif %} 
  {% if page.instagram %}
  <a class="btn btn-large" href="{{ page.instagram }}" target="_blank" title="As Seen On instagram"><span><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</span></a>
  {% endif %} 
  {% if page.twitter %}
  <a class="btn btn-large" href="{{ page.twitter }}" target="_blank" title="As Seen On Twitter"><span><i class="fab fa-fw fa-twitter" aria-hidden="true"></i> Twitter</span></a>
  {% endif %}
  {% if page.facebook %}
  <a class="btn btn-large" href="{{ page.facebook }}" target="_blank" title="As Seen On Facebook"><span><i class="fab fa-fw fa-facebook" aria-hidden="true"></i> Facebook</span></a>
  {% endif %}
</section>

{% if page.prompt %}
<p class="flockingai-prompt page__taxonomy">
  <strong>
    <i class="fas fa-fw fa-angle-double-right" aria-hidden="true"></i> Prompt:
  </strong>
  <span itemprop="keywords">{{ page.prompt }}</span>
</p>
{% endif %}
